/*-----------------------------------------------------home page ------------------------------------------------------------*/
/***** BASE STYLES *****/

body{
    font-family: 'Source Sans Pro', sans-serif;
}

#about, #work, #contact {
    height: 600px;
}

/***** GRID *****/

.full-width{
    margin: 0 auto;
    width: 90%;
}

.half-width{
    float:left;
    width: 50%;
}

.third-width{
    float: left;
    width: 33.33%;
}

/***** HEADER *****/
header{
    background: url('../img/header-bg.png');
    background-size: cover;
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: relative;
}

header img{
    padding:50px 0;
}

nav {
    float: right;
    padding: 75px 40px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #000000;
    font-size: 18px;
    padding-left: 80px;
    text-transform: uppercase;
    text-decoration: none;
}

header h2 {
    clear: both;
    color: #000000;
    font-family: 'Lora', serif;
    font-size: 60pt;
    line-height: 80pt;
    padding: 20px 0;
}

header h2 span {
    color: #ffffff;
}

/***** ABOUT *****/
#about h2{
    font-family: 'Lora', serif;
}

#about p{
    color:#7f7f7f;
}

/***** WORK *****/

#work {
    background-color: #51788f;
}

#work h3 {
    color: #ffffff;
}

#work p{
    color: #ffffff;
    font-family: 'Lora', serif;
}

/***** CONTACT ******/

#contact{
    background-color: #ebebeb;
}

#contact .full-width {
    padding: 110px 0;
}

#contact-img {
    border: 12px solid #ffffff;
}

#contact h2, #email-header, #socialmedia-header, #contact ul {
    padding-left: 115px;
}

#envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
}
#email-header{
    font-size: 32px;
    font-weight: 400;
    margin: -30px 0 5px 0;
}
#socialmedia-header {
    font-weight: bold;
    font-size: 29px;
    margin: 40px 0 0 0;
}
#contact a {
    color: #51788f;
    font-weight: bold;
    font-size:28px;
    text-decoration: none;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    font-size: 32px;
    padding-right: 48px;
}

/* ==========================================================================
  Landing Page
   ========================================================================== */

/*Large Background Image*/
html .landing-html {
    background: url(.../img/hardware.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}
body .landing-body{
    height: 100%;
    margin: 0 0;
}
.wrapper {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content-box {
    display: flex;
    align-items: center;
    background: #ffffff;
    background:rgba(255, 255, 255 ,0.7);
    padding: 0px 30px;
    width: 30%;
    height: 100%;
    flex-flow: column wrap;
    justify-content: space-around;
}

.content{
    display: flex;
    align-items: center;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-weight: 300;
    font-size: 1.25em;
    line-height: 1.5em;
    color: #000000;



}

#content p span {font-family: 'Lora', sans-serif;}




/*-----------------------------------------------------media queries------------------------------------------------------------*/
/*--------------------------------------------------------taplet---------------------------------------------------------------*/
@media (min-width: 768px) {

/*------------home page--------------*/

}


/*--------------------------------------------------------desktop---------------------------------------------------------------*/
@media (min-width: 940px) {

/*------------home page--------------*/
/*about styles*/
#about .full-width{
    padding: 80px 0;
}

#about h2{
    font-size: 36px;
}

#about p{
    font-size: 21px;
    line-height: 42px;
    padding-right: 50px;
}
/*work styles*/
#work {
    text-align: center;
}

#work .full-width{
    padding: 80px 0;
}

#work img{
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    margin: 0 auto;
    width: 190px;

}

#work p{
    font-size: 18px;
    line-height: 30px;
    padding: 0 35px;
}

}
